<h1>New Disaster type<%= @category.id %></h1>
<% if @category.errors.any? %>
  <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<%= form_for @category, url: admin_categories_path(@category), method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<%= link_to 'back', admin_categories_path %>