<% if post.errors.any? %>
  <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
</div>
<!--<div class="form-group">-->
  <%#= f.label :image %>
  <%#= f.file_field :image, class: 'form-control' %>
<!--</div>-->
<div class="form-group">
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, {:include_blank => true}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :region %>
  <%= f.collection_select :region_id, Region.order(:name), :id, :name, {:include_blank => true}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :province %>
  <%= f.collection_select :province_id, Province.order(:name), :id, :name, {:include_blank => true}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.label :city %>
  <%= f.collection_select :city_id, City.order(:name), :id, :name, {:include_blank => true}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= f.submit class: 'btn btn-success' %>
</div>